<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal dos Livros - Login</title>
</head>
<body>
    <form action="{% url 'auth' %}">

        <div style="text-align: center;">

            <h1>Login</h1>
            CPF <input name="cpf" type="text">
            Senha <input name="senha" type="text">
            <button class="form-control-sm">Próximo</button>
        </div>

    </form>
</body>
</html>